<template>    
    <div class="container center_div">
        <form v-on:submit="login">
            <h3>login</h3>
            <div v-if="errors.email" class="validation_errors">{{ errors.email }}</div>
			<div v-if="errors.password" class="validation_errors">{{ errors.password }}</div>
            <div v-if="errors.message" class="validation_errors">{{ errors.message }}</div>
			<div class="form-group">
				<label>Email</label>
				<input v-model.trim="user.email" class="form-control-label" type="email" placeholder="Your e-mail address" required>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input v-model.trim="user.password" class="form-control-label" type="password" placeholder="Enter your password " required>
			</div>
			<button class="btn btn-primary">Login</button>
		</form>
    </div>
</template>
<script>
    import {API_URL} from '../config.js';
    export default {
        data () {
            return {
				user: {
					email:"",
					password:""
				},
				errors: {
					email:"",
                    password:"",
                    message:""
				}
			}
        },
        methods: {
			login: function(e) {
				e.preventDefault();

				this.errors.email = null;
				this.errors.password = null;
    
				axios.post(API_URL + 'login', this.user).then(response => {

                    let newToken=response.data.user.api_token;
                    window.token=newToken;                    
                    let user=response.data.user;	                    
					localStorage.setItem('token',newToken);
                    localStorage.setItem('user',JSON.stringify(user));

					window.axios.defaults.params={api_token:newToken};
                    this.$router.push('/users');

				}).catch(err => {
					
                    let response = err.response.data;
					console.log(response);
					if (response.validation_errors) {

						if (response.validation_errors[0]) {
							this.errors.email = response.validation_errors[0];
						}

						if (response.validation_errors[1]) {
							this.errors.password = response.validation_errors[1];
                        }
                        
					}else{
                        this.errors.message = "Oops, the credentials were not found or are incorrect.";
                    }
				});
			}
        },
        mounted() {
            console.log(API_URL);
		}
    }
</script>

