<template>    
    <div class="container center_div">	
		<h2>You are logged out</h2>
	</div>
</template>

<script>	
    import {API_URL} from '../config.js';
	export default {
		mounted() {
			let token = localStorage.getItem('token');
			axios.get(API_URL + 'logout/'+token+'?api_token='+token).then(response => {
				localStorage.removeItem('token');
			})
		}
	}
</script>
