<template>    
    <div class="container center_div">
        <form v-on:submit="register">
            <h3>register</h3>			
			<div v-if="errors.email" class="validation_errors">{{ errors.email }}</div>
			<div v-if="errors.password" class="validation_errors">{{ errors.password }}</div>
			<div class="form-group">
				<label>Email</label>
				<input v-model.trim="user.email" class="form-control-label" type="email" placeholder="Your e-mail address" required>				
			</div>
			<div class="form-group">
				<label>Password</label>
				<input v-model.trim="user.password" class="form-control-label" type="password" placeholder="Enter a password of your choice" required>				
			</div>			
			<button class="btn btn-primary">Register</button>
		</form>
    </div>
</template>
<script>
    import {API_URL} from '../config.js';
    export default {
        data () {
            return {
				user: {
					email:"",
					password:""
				},
				errors: {
					email:"",
					password:""
				}
			}
        },
        methods: {
			register: function(e) {
				e.preventDefault();

				this.errors.email = null;
				this.errors.password = null;

				axios.post(API_URL + 'register', this.user).then(response => {

                    let token=response.data.user.api_token;
					localStorage.setItem('token',token);    
					this.$router.push('/login');

				}).catch(err => {
					
					let response = err.response.data;
					
					if (response) {

						if (response.validation_errors[0]) {
							this.errors.email = response.validation_errors[0];
						}

						if (response.validation_errors[1]) {
							this.errors.password = response.validation_errors[1];
						}
					}
				});
			}
        },
        mounted() {
            console.log(API_URL);
		}
    }
</script>

