<template>
  <div class="login">
		<div class="container">
			<button class="btn btn-primary" v-if="action == null" v-on:click="addUser">Add User</button>
			<table class="table" v-if="action == null">
				<thead>
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>first_name</th>
						<th>last_name</th>
						<th>Role</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>					
          			<tr v-for='(user, index) in users' :key='index'> 
						<td>{{ user.id }}</td> 
						<td>{{ user.email }}</td>
						<td>{{ user.first_name }}</td>
						<td>{{ user.last_name }}</td>						
						<td></td>		
						<td><button class="btn btn-warning" v-on:click="deleteUser(user, index)">Delete</button></td>
						<td><button class="btn btn-info" v-on:click="editUser(user, index)">Edit</button></td>
					</tr>
					<tr><td colspan="7" class="validation_errors f-16">{{nodata}}</td></tr>
				</tbody>
			</table>
			<div v-else-if="action == 'addUser'">
				<button class="btn btn-primary" v-on:click="action = null">Back</button>
				<form v-on:submit="saveUser">
					<div class="form-group">
						<input type="text" class="form-control-label" placeholder="First name" v-model="UserModel.first_name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control-label" placeholder="Last name" v-model="UserModel.last_name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control-label" placeholder="Email" v-model="UserModel.email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control-label" placeholder="Password" v-model="UserModel.password">
					</div>
					<button class="btn btn-primary">Add</button>
				</form>
			</div>
			<div v-else-if="action == 'editUser'">
				<button class="btn btn-primary" v-on:click="action = null">Back</button>
				<form v-on:submit="updateUser">
					<div class="form-group">
						<input type="text" class="form-control-label" placeholder="First name" v-model="user.first_name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control-label" placeholder="Last name" v-model="user.last_name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control-label" placeholder="Email" v-model="user.email">
					</div>
					<button class="btn btn-primary">Update</button>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import {API_URL} from '../config.js';

	export default {
		data() {
			return {
				loggedIn: localStorage.getItem('token'),				
				users: null,
				user: null,
				action: null,
				nodata:null,
				UserModel: {
					id: null,
					first_name: null,
					last_name: null,
					email: null,
					password: null
				}
			}
		},
		methods: {
			editUser: function(user, index) {
				this.user = user;
				this.user.index = index;
				this.action = 'editUser';
			},

			deleteUser: function(user, index) {
				axios.delete(API_URL + 'destroy/'+user.id).then(response => {				
					this.users.splice(index, 1);
				})
			},

			addUser: function() {
				this.action = 'addUser';
			},

			saveUser: function(e) {
				e.preventDefault();
				if (this.UserModel.email !== null) {
					let user = this.UserModel;
					axios.post(API_URL + 'store', this.user).then(response => {						
						this.users.push(this.UserModel);

						console.log(response);
						this.UserModel = {
							first_name: null,
							last_name: null,
							email: null,
							password: null
						};
						alert('A user has been added');

					}).catch(err => {					
						let response = err.response.data;
						console.log(response);
					});
				}
			},

			updateUser: function(e) {
				e.preventDefault();
				let user = this.user;
				
				axios.post(API_URL + 'update', this.user).then(response => {
					
					this.users[user.index].firstname = user.firstname;
					this.users[user.index].lastname = user.lastname;
					this.users[user.index].email = user.email;
					alert('User has been updated');

				}).catch(err => {					
                    let response = err.response.data;
					console.log(response);
				});
			}
		},
		mounted() {
			let token = localStorage.getItem('token');
			if(token === null){
				token = 'expired';
				this.nodata = 'No data';
			}

			axios.get(API_URL + 'users/'+token+'?api_token='+token).then(response => {				
				this.users=response.data.users;
			})
		}
	}
</script>