<template>
  <header id="mainHeader">
    <ul class="nav nav-pills pull-right">
      <li><router-link to="/users" v-if="user.authenticated == null">Users</router-link></li>
      <li><router-link to="/register" v-if="user.authenticated != null">Register</router-link></li>
      <li><router-link to="/login" v-if="user.authenticated != null">Login</router-link></li>
      <li><router-link to="/logout" v-if="user.authenticated == null">Logout</router-link></li>
    </ul>
    <router-link to="/">
       <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle r="30" cx="45" cy="45" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
      </svg>
    </router-link>
  </header>
</template>

<script>
export default {  
  data () {
    return {
      appTitle: "MyList",
      user: {
        authenticated: null
      }
    }
  },
  methods: {
    
  },
	mounted() {
			let token = localStorage.getItem('token');
			if(token === null){
				this.user.authenticated = false;
			}
		}
}
</script>
<style lang="sass">
   @import "../../assets/sass/app.scss";
</style>
