*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }
  
  body, html {
    font-family: $fontFamily;
    color: $color2ndBgr;
    font-size: $fontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale  ;
    margin-top: 10px;
    line-height: $line-height-base ;
  }

  h1,h2,h3{
    font-weight: fontWeight_Normal;
    text-transform: uppercase;
    padding-bottom:10px;
  }

  .center_div{
    margin: 0 auto;
    width: 44%;
  }

  .validation_errors{
    color:$colorRed;
    font-size:0.8em;
  }

  #mainHeader{    
    height:$headerHeight;
      .nav{
        margin-top: 25px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8em;
      }

      ul li a{
        color: $colorGrey;
      }
  }

  ul{
    list-style-type: none;
    padding: 0;
  }

  li{
    display:inline-block;
    margin: 0 10px;
  }

  a{
    color: $colorLink;
  }

  .f-16{
    font-size: $fontSize;
  }

  #svg circle{
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #cccccc;
    stroke-width: 1em;
  }
  
  input, select, textarea {
    width: 350px;
    border: 1px solid rgba(0,0,0,0.35);
    box-shadow: inset 1px 1px 1px #CCC;
    font-family: $fontFamily;
    font-size: 1rem;
    font-weight: $fontWeight_Thin;
    padding: .5rem .6rem;
    border-radius: .3rem;  
    margin: .4rem .1rem;
  }

  .btn {
    border-radius: .3rem;  
    margin: .3rem 0.2rem;
  }

  .btn-warning {
    color: #fff;
    background-color: $colorRed!important;
    border-color: $colorRed!important;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
  background-color: $colorGreen!important;
  border-color: $colorGreen!important;
}

table {
  margin-top:30px;
}

  a, a:link, a:visited {
    color: $colorLink;
    text-decoration: none;
    cursor: pointer;
  }
  
  .clear, .clearfix {
    &::after {
      content: " ";
      clear: both;
      display: block;
    }
  }
  
  .side {
    width: 256px;
  }
  
  p {
    line-height: 1.5rem;
  }
  
  em {
    font-style: italic;
  }
  
  .help {
    opacity: .8;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: .6rem 1rem;
  }
  
  label {
    font-size: 1.0rem;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight:500;
    display: block;
  
    &.small {
      font-size: 1rem;
    }
  }
  
  button, input[type="submit"], input[type="reset"], input[type="button"], .btn {
    background: $colorBtnBgr;
    color: $colorBtnText;
    font-size: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
  }