@import url("https://fonts.googleapis.com/css?family=Lato");

$colorMainBgr: #181818;
$color2ndBgr: #282828;
$colorMainText: #fff;
$color2ndText: #a0a0a0;
$colorBtnBgr: #0191f7;
$colorBtnText: #fff;
$colorDirtyInputBgr: #fff5b0;

$colorHeart: #bf2043;
$colorGreen: #56a052;
$colorBlue: #4c769a;
$colorRed: #c34848;
$colorOrange: #ff7d2e;
$colorGrey: #3c3c3c;

$colorSidebarBgr: #212121;

$colorLink: #aaa;
$colorLinkHovered: #fff;

$colorHighlight: $colorOrange;

$fontFamily: Lato, sans-serif;;
$fontSize: 1.1em;

$fontWeight_UltraThin: 100;
$fontWeight_Thin: 300;
$fontWeight_Normal: 500;

$line-height-base: 28px;

$headerHeight: 125px;
$footerHeight: 64px;

$extraPanelWidth: 334px;