<template>
  <div class="app">    
    <div class="container">
      <site-header/>
        <div class="jumbotron">
          <h3>mylist</h3>          
          <p class="lead">Please <strong>Register</strong> and <strong>Login</strong> to manage <strong>Users</strong></p>
        </div>
        <div class="row marketing">
            <router-view/>
        </div>
        <div class="footer">
        <p>&copy; MyList 2017</p>
      </div>
    </div>
  </div>
</template>

<script>
import siteHeader from './components/site-header/index.vue'
export default { 
  components: {
    'site-header': siteHeader
  }, 
  name: 'app'
}
</script>

<style lang="sass">  
  @import "assets/sass/app.scss";
</style>
